@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import 'tailwindcss';


@tailwind utilities;

@theme {
  --color-primaryO: #E97A28;
  --text-regular: 16px;
  --text-header: 32px;
  --text-header-weight: bold;  
  --font-sans: 'Poppins', sans-serif;
}

@layer base {
  html,
  body {
    font-family: var(--font-sans);
    line-height: 1.5;
    color-scheme: light dark;
    color: rgba(0, 0, 0, 0.87);
    background-color: #ffffff;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer components {
  .text-header {
    font-size: var(--text-header) !important;
    font-weight: var(--text-header-weight) !important;
  }
  .text-regular {
    font-size: var(--text-regular);
  }
  .text-primaryO {
    color: var(--color-primaryO);
  }
}

body {
  background: 
    linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)),
    linear-gradient(#F0F0F0, #E97A28);
}
