@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sue+Ellen+Francisco&display=swap');
@import 'tailwindcss';
@import "primereact/resources/themes/lara-light-blue/theme.css";
@import "primereact/resources/primereact.min.css";
@import "primeicons/primeicons.css";


@tailwind utilities;

@theme {
  --color-primaryO: #E97A28;
  --text-regular: 16px;
  --text-header: 32px;
  --text-header-weight: bold;  
  --font-sans: 'Poppins', sans-serif;
  --font-sue: 'Sue Ellen Francisco', cursive;
}

@layer base {
  html,
  body {
    font-family: var(--font-sans);
    line-height: 1.5;
    color-scheme: light dark;
    color: rgba(0, 0, 0, 0.87);
    background-color: #ffffff;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer components {
  .text-header {
    font-size: var(--text-header) !important;
    font-weight: var(--text-header-weight) !important;
  }
  .text-regular {
    font-size: var(--text-regular);
  }
  .text-primaryO {
    color: var(--color-primaryO);
  }
}

body {
  background: 
    linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)),
    linear-gradient(#F0F0F0, #E97A28);
}
.custom-scrollbar::-webkit-scrollbar {
  display: none;
}
.custom-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@media (min-width: 768px) {
  .custom-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .custom-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.p-calendar-custom .p-button {
  background-color: theme("colors.primaryO") !important;
  border-color: theme("colors.primaryO") !important;
  color: white !important;
}

.custom-radio-orange .p-radiobutton-box {
  background-color: #FFD1AF !important;
  border: 2px solid #FFD1AF !important;
}

.custom-radio-orange .p-radiobutton-box.p-highlight {
  background-color: #FFD1AF !important;
  border-color: #f97316 !important;
}

.custom-radio-orange .p-radiobutton-icon {
  background-color: theme("colors.primaryO")!important;
}